////////////////////////////
// General settings
////////////////////////////

OUTPUTNAME = "OUTPUTROOTNAME"
// Save the logger output in mcmc/mcmc.cpp
SUMMARY = true
// Start from previous position
STARTFROMPOS = STARTFROMFILEBOOL
POSFILES = "STARTINGFILE"
// Save the nominal
//SAVENOM = true
// Save mode by mode at ND280
//PLOT_BY_MODE = true
// Process the MCMC
//PROCESS_MCMC = true
// Random start the MCMC?
//RANDOM_START = true
// Don't oscillate
DOOSC = true

///////////////////////////
// MCMC settings
///////////////////////////

NSTEPS = 200000
STEPSCALE = 0.05
OSCSTEPSCALE    = 0.045

# updated for 2020
STEPSCALESKDET  = 0.05

# updated by Will, 2020
STEPSCALEXSEC   = 0.01
STEPSCALEFLUX   = 0.075
STEPSCALENDDET  = 0.04

////////////////////////////
// POT and fit options
////////////////////////////

POT = 19.664e+20
NUBARPOT = 16.34556e+20
USERC = False // use reactor constraint?
NDASIMOV = False // Note: NOT USED by src/jointFit2017_5sample_wFGD2_2D.cpp 
NUBARRATE = False
OSCPARAM = [0.307,0.528,0.0218,7.53e-5,2.509e-3,-1.601] // Asimov A
NTOY = 10
TOYFILE = "toys.root"
BINNINGOPT=2. // Note: NOT USED by src/jointFit2017_5sample_wFGD2_2D.cpp 
SAMPLERMURHC = False // do RHC rates? (Ignore name!) // Note: NOT USED by src/jointFit2017_5sample_wFGD2_2D.cpp 

/////////////////////////////
// ND RUN SETTINGS
/////////////////////////////

POLYFILE = "inputs/polybinning_minwidth100MeV_template.root"
ND_LIKELIHOOD = "Barlow-Beeston"
PLOT_BY_MODE = False

NDRUNS = "P6T 2a 2w 3 4a 4w 5 6 7 8a 8w 9"
#NDRUNS = "P6T 9"
// ND seclection are done correctly by default, no need to set this here
//ND_SEL = ["FGD1 nu CC0pi", "FGD1 nu CC1pi", "FGD1 nu CCOth", "FGD1 anu CC0pi", "FGD1 anu CC1pi", "FGD1 anu CCOth", "FGD1 anu nu CC0pi", "FGD1 anu nu CC1pi", "FGD1 anu nu CCOth",  "FGD2 nu CC0pi", "FGD2 nu CC1pi", "FGD2 nu CCOth", "FGD2 anu CC0pi", "FGD2 anu CC1pi", "FGD2 anu CCOth", "FGD2 anu nu CC0pi", "FGD2 anu nu CC1pi", "FGD2 anu nu CCOth"]//RHCMultPi

////////////////////////////
// Fit type
////////////////////////////

// STATONLY
//FAKEDATAFIT = true
//FAKEDATAFILE = "/vols/t2k/users/pjd12/analysiswork/oscillations/mach3gitgpucrate300816/GlobalAnalysisTools/GlobalFitters/MaCh3/inputs/Data_1D2D_Run1-7c.root"
DATAFILE = "inputs/run1-10data.root"
ASIMOVFIT = false
FAKEDATAFIT = false
REALDATAFIT = true
TOYFIT = false // set this to false to run nominal fit, true to run a toy fit
STATONLY = false // Run stats-only SK fit (no ND, systematics fixed to post-BANFF values)?
// NDASIMOV
//REALDATAFIT = true

////////////////////////////
// Covariances
///////////////////////////

SKDETCOVFILE="inputs/SKJointErrorMatrix2020_Total_fitqun_v4_16042020.root"
SKDETCOVNAME="SKJointError_Erec_Total"
FLUXCOVFILE="inputs/13av7p1_run1-10_ndto9_banff.root"
FLUXCOVNAME="total_flux_cov"
XSECCOVFILE="inputs/xsec_covariance_2020a_v7.root"
XSECCOVNAME="xsec_cov"
USEBANFF = True // Use BANFF tuning when generating SK rates?
USEBANFFCOV = False // Use BANFF covaraince (instead of flux/xsec covariance and ND data)?
BANFFCOVFILE="inputs/BANFF_postfit_OA2020_fixed2p2h_fixedIHalfLowPPi_20200409.root"
BANFFPARAMS="postfit_params"
BANFFCOVNAME="postfit_cov"
//NDDETCOVFILE = "inputs/ND280_Syst_Cov_20170614_1p1h_convertedToMaCh3.root"
#NDDETCOVFILE = "inputs/ND280_RHCMultiPi_DetectorCovariance_MorrisonBinning_28March2019_convertedToMaCh3.root"
NDDETCOVFILE = "inputs/ND280_Syst_Cov_20200114_TH2D574BinningTH2Poly_convertedToMaCh3.root"
XSECPARAMFLAT = [1,2,6,7,8,9,10,11,12,13,14]

////////////////////////////                                                                 
// Beta options
////////////////////////////                                                                 

USEBETA=false
FLIPBETA=false
APPLYBETANUE=false
APPLYBETADIAG=false
